body{
margin: 0;

}
@font-face {

font-family: "OpenSans"; 
src: url("font/OpenSans-Regular.ttf")format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
body{
font-family: "OpenSans";
font-size: 14px;
}
.header-info{	
overflow: hidden;
background: #F8F8F8;
padding-top: 8px;
padding-bottom:8px ;
}

.geo img,.geo p
{
	float: left;
	margin: 0;
}
.geo img
{
padding-right: 12px;

}

.header-top
{
	margin-left: 100px;
	float: left;
	white-space: nowrap;
	list-style: none;
	display: flex;
	margin: 0;
}

.header-top a{
float:left;
color: black;
text-decoration: none;
padding-left: 25px;
padding-right: 5px;
}
.contact{
float: right;
}
.center{
overflow: hidden;
margin-left: auto;	
margin-right: auto;
width: 50%;
}
.header-center
{
display: flex;
justify-content: space-between;
align-items: center;

width: 50%;
margin-left: auto;
margin-right: auto
}
.logo img{
width: 100%;
}
.searth{
height: 50px;
width: 33%;
padding: 0;
position: relative;
 /* border: 1px solid red;  */
}
input{
	margin: 0px;
	height: 90%;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	width: 85%;
	padding-left:  15px;
}
button{
width: 20%;
margin: 0;
height:98%;
position: absolute;
left: 90%;
top:0%;
background: #E0001B;
border: none;
border-radius: 0px 5px 5px 0px;
}
button:hover{
background: #EB4E61;
}

.buttons{
list-style: none;
 display: flex;
align-items: center;
 
}

.buttons li a{
display:  flex;

}
.buttons a
{
color: black;
text-decoration: none;
padding: 16px;
height: 80%;

}
.buttons a:hover
{

background: #F8F8F8;


}
.buttons a img{
margin-right: 15px;

}
.notify
{
margin-left: 5px;
background: #E0001B;
width:15px;
height:15px;
border-radius: 50%;
text-align: center;
color: white;
font-size: 12px;
} 

.header-nav{
width: 50%;
margin-right: auto;
margin-left: auto;
height: 50px;
display: flex;
align-items: center;
list-style: none;
padding: 0;
}
.header-nav li{
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 ;
}

.header-nav a
{
color: black;
text-decoration: none;
display: flex;
align-items: center;
background: #F8F8F8;
height: 40px;	
margin: 0;
padding-left: 5px;
padding-right: 10px;

/* font-size: 14px; */

}
.header-nav a img{
	margin-right: 8px;
}
.header-nav li:first-child a
{
background: #E0001B; 
color: white;	
border-radius: 5% 0 0 5%;
}
 .header-nav li:last-child a{
 	color: #E0001B;
border-radius: 0 5px 5px 0;
box-shadow: -9px 0 0 -8px #d8d8d8;

 }
.header-nav li:nth-child(3){
background-color: #d8d8d8;
}